/* tela desktop */
@media (min-width: 1079px) {
  body {
    font-size: 30px;
  }

  /* header fixo moderno*/
  header {
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px #aaa;
    z-index: 999;
  }

  .container {
    max-width: 1024px;
    margin: 0 auto;
  }

  .perfil-foto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
  }

  .menu-item {
    float: left;
    margin: 0 10px;
    line-height: 100px;
  }

  .idiomas {
    float: right;
    line-height: 100px;
  }

  .up-page {
    /* esse botão acompanhará a tela e servirá para voltar ao topo da página */
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #f0f0f0;
    border-radius: 50%;
    box-shadow: 0 0 10px #aaa;
    z-index: 999;
  }

  .up-page a {
    display: block;
    text-align: center;
    line-height: 50px;
    font-size: 50px;
    color: #000;
  }

  .menu-item a {
    color: #000;
    text-decoration: none;
    font-size: 30px;
    text-transform: uppercase;
    transition: 0.5s;
  }

  .menu-item a:hover {
    color: #00f;
    text-decoration: underline;
  }

  /* conteúdo */
  main .container {
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    box-shadow: 1px 1px 10px #444;
    margin-top: 20px;
    border-radius: 10px;

  }

  main .container h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
  }

  main .container p {
    font-size: 30px;
    text-align: justify;
    margin-bottom: 20px;
  }

  main .contato {
    width: 38%;
    height: 100%;
    background-color: #f0f0f0;
    box-shadow: 1px 1px 3px #444;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
    float: left;
  }

  main .container h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
  }

  main .container h3 {
    font-size: 30px;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .servicos {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    box-shadow: 1px 1px 10px #444;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
  }

  .servicos .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .servicos strong {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .servicos li{
    text-align: justify;
    font-size: 30px;
    margin-bottom: 20px;
  }

  #contato .redes-sociais {
    text-align: center;
  }

  #contato .redes-sociais a img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 10px;
    transition: 0.5s;
  }

  #contato .redes-sociais a img:hover {
    transform: scale(1.2);
  }

  #contato .redes-sociais a {
    text-decoration: none;
  }

  #contato .container form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #contato .container form input, #contato .container form textarea{
    width: 100%;
    height: 50px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 30px;
  }

  #contato .container form input{
    width: 100%;
    height: 50px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 30px;
    color: #00b4db;
    cursor: pointer;
    transition: 0.5s;
  }

  #contato .container form input:hover{
    background-color: #00b4db;
    color: #fff;
  }

  #contato .container form textarea{
    width: 100%;
    height: 200px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 30px;
  }

  #contato .container form button {
    width: 100%;
    height: 50px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 30px;
    color: #00b4db;
    cursor: pointer;
    transition: 0.5s;
  }

  #contato .container form button:hover{
    background-color: #00b4db;
    color: #fff;
  }

  /* rodapé */
  footer {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
  }
}