/* celular */
@media (max-width: 1078px)
or (orientation: portrait) {
    /* Styles */
    body {
        font-size: 20px;
    }
    header{
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-color: #f0f0f0;
        box-shadow: 0 0 10px #aaa;
        z-index: 999;
    }

    .container {
        max-width: 480px;
        margin: 0 auto;
    }

    .perfil-foto {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        float: left;
    }

    .menu-item {
        float: left;
        margin: 0 10px;
        line-height: 50px;
    }

    .idiomas {
        float: right;
        line-height: 50px;
    }

    .up-page {
        /* esse botão acompanhará a tela e servirá para voltar ao topo da página */
        position: fixed;
        bottom: 100px;
        right: 100px;
        width: 50px;
        height: 50px;
        background-color: #00b4db;
        border-radius: 50%;
        box-shadow: 2px 2px 10px 1px #444;
        z-index: 999;
    }

    .up-page a {
        display:block;
        text-align: center;
        line-height: 50px;
        font-size: 20px;
        color: #000;
        text-decoration: none;
        text-shadow: 0 0 10px #aaa;
    }

    .up-page:hover {
        color: #fff;
        background-color: #0083b0;
        transition: .5s;
    }

    .menu-item a {
        color: #000;
        text-decoration: none;
        font-size: 20px;
        text-transform: uppercase;
        transition: 0.5s;
    }

    .menu-item a:hover {
        color: #00f;
        text-decoration: underline;
        transform: .5s;
    }

    /* conteúdo */
    main .container {
        /* igual desktop */
        padding: 20px;
        width: 100%;
        height: 100%;
        background-color: #f0f0f0;
        box-shadow: 1px 1px 10px #444;
        margin-top: 20px;
        border-radius: 10px;
    }

    main .container h1 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px;
    }

    main .container p {
        font-size: 20px;
        text-align: justify;
        padding-right: 50px;
        padding-bottom: 10px;
    }

    main .contato {
        width: 75%;
        height: 100%;
        background-color: #f0f0f0;
        box-shadow: 1px 1px 5px #444;
        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
    }

    main .badge {
        width: auto;
        height: 250px;
        padding-left: 100px;
    }

    main .container h2 {
        font-size: 25px;
        text-align: center;
        margin-bottom: 20px;
    }

    main .container h3 {
        font-size: 20px;
        text-align: left;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .servicos {
        width: 90%;
        height: 100%;
        background-color: #f0f0f0;
        box-shadow: 1px 1px 5px #444;
        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 10px;
        padding: 20px;
    }

    .servicos .container {
        width: 90%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .servicos strong {
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: bold;
    }

    .servicos li {
        text-align: justify;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .servicos li a {
        color: #000;
        text-decoration: none;
        transition: .5s;
    }

    .projetos {
        width: 90%;
        height: 100%;
        background-color: #f0f0f0;
        box-shadow: 1px 1px 5px #444;
        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 10px;
        padding: 20px;
    }

    #contato {        
        padding: 20px;
    }

    #contato .redes-sociais {
        text-align: center;
                
    }

    #contato .redes-sociais a img{
        width: 50px;
        height: 50px;
        margin: 10px;
    }

    #contato .redes-sociais a {
        text-decoration: none;
    }

    #contato .container {
        width: 100%;
        height: 100%;        
    }

    #contato .container form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #contato .container form input {
        width: 100%;
        height: 50px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        font-size: 20px;
    }

    #contato .container form textarea {
        width: 100%;
        height: 150px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        font-size: 20px;
    }

    #contato .container form button {
        width: 100%;
        height: 50px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        font-size: 20px;
        background-color: #00b4db;
        color: #fff;
        transition: .5s;
    }

    #contato .container form button:hover {
        background-color: #0083b0;
        transition: .5s;
    }

    footer {
        width: 100%;
        height: 100px;
        text-align: center;
        line-height: 100px;
        font-size: 20px;
        font-weight: bold;
    }

    footer a {
        text-decoration: none;
        transition: .5s;
    }

    footer a:hover {
        transition: .5s;
    }

}