header{
    background: linear-gradient(to bottom, #0000ff 0%, #ffffff 100%);
    text-align: center;
    padding: 10px;
}
header .menu {

}
.container{
    background-color: #f0f0f0;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer{
    background: linear-gradient(to bottom, #f0f0f0 0%, #0000ff 100%);
    text-align: center;
    padding: 10px;
}