body{
    /* importar font do index html google font */
    /* @import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap);     */
    font-family: 'Roboto', sans-serif;
    /* gradiant color blue white blue top bottom top*/
    background: linear-gradient(to bottom, #f0f0f0,#00b4db, #0083b0, #016789);
    text-shadow: 1px 1px 1px #aaa;
}

footer{
    background-color: #444;
    box-shadow: 1px 1px 10px #f0f0f0;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 20px;
    color: #000;
}

/* página rola suavementa .up-page */
html{
    scroll-behavior: smooth;
    transition: all 5s ease-in-out;
}

/* Botão fixado */
#topBtn {
    position: fixed;
    bottom: 100px;
    right: 20px;
    background-color: #00b4db;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 50%;
}

#topBtn:hover {
    background: #fff;
    color: #000;
}